/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

    /*HEADER*/
    .header {
        position: fixed;
        padding: 20px 43.8px 10px 55px;
        background-color: #8661aa82;
        box-shadow: 0 0 5px 5px #8661aa82;
    }

    /*GRAPH*/
    .graph__item--left {
        padding: 50px 65px 76px 50px;
    }

    .graph__title {
        font-size: 62px;
    }

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

    /*INTRO*/
    .intro__titleFirst {
        font-size: 63px;
    }

    .intro__titleMiddle {
        font-size: 63px;
        line-height: 1.5;
    }

    /*GRAPH*/
    .graph__item {
        width: 100%;
    }

    /*
    .graph__item--left{
        padding: 25px 32.5px 38px 25px;
    }

    .graph__title{
       font-size: 42px;
        padding-bottom: 20px;
        max-width: 240px;
    }

    .graph__text{
        font-size: 15px;
        padding-bottom: 20px;
    }

    .graph__bottomText{
        font-size: 15px;
    }
*/


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    /*HEADER*/
    .header {
        padding: 20px 15px 10px 15px;
    }

    .header__text {
        font-size: 23px;
    }

    .nav {
        font-size: 19px;
    }

    /*INTRO*/
    .intro__titleFirst {
        font-size: 42.5px;
        padding-right: 0;
    }

    .intro__titleMiddle {
        font-size: 43px;
        line-height: 1.5;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 490px) {

    /*HEADER*/
    .header {
        padding: 20px 25px 10px 45px;
    }

    .header__inner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__text {
        padding: 0 5px 15px 5px;
    }

    /*INTRO*/
    .intro__titleFirst {
        font-size: 25.3px;
        padding-right: 10px;
        line-height: 2;
    }

    .intro__titleMiddle {
        font-size: 33px;
    }

    /*GRAPH*/
    .graph__item {
        width: 100%;
    }

    .graph__item--left {
        padding: 15px;
    }

    .graph__title {
        font-size: 40px;
        max-width: 230px;
    }

    .graph__text{
        font-size: 15px;
    }


    .graph__bottomText{
        display: none;
    }


}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
   .graph__title {
        font-size: 30px;
        max-width: 190px;
    }

}
